.box { 
  height: 700px;
  background-color: #fff;
}
.body {
  padding-top: 90px;
  padding-bottom: 90px;
}
.bg-cover {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#traffic{
  position:absolute;
  left:23%;
  width:250px;
  top:26%;
}
#aissistant{
  position:absolute;
  left:13%;
  width:250px;
  top:30%;
}
#forsport{
  position:absolute;
  left:68%;
  width:250px;
  top:43%;
}
#business{
  position:absolute;
  left:25%;
  width:250px;
  top:54%;
}
#medical{
  position:absolute;
  left:43%;
  width:250px;
  top:50%;
}
#topic{
  position:absolute;
  left:53%;
  width:250px;
  top:7%;
}